@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    min-height: 350vh;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: black;
}

/* parallax introduction */
.parallax__container {
    height: 100vh;
    position: relative;
    top: 0;
    overflow: hidden;
    background-color: #000000;
}

.parallax__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.parallax__container img {
    position: absolute;
}

.parallax__container h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    translate: -50%;
    font-size: 100px;
    font-weight: 900;
}

/* eclipse animation */
#parallax__eclipse{
    position: sticky;
    background-image: url("assets/bg-4.jpg");
}

#moon {
    width: 50%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

#sun{
    width: 50%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

/* information text */
#about-eclipse{
    width: 80%;
    height: auto;
    display: none;
    position: relative;
    top: -80vh;
    left: 50%;
    translate: -50%;
    color: white;
}

#about-eclipse p {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

/* information cards */
#about {
    position: relative;
    top: 55vh;
    left: 50%;
    translate: -50%;
    min-height: 125vh;
    place-content: center;
    margin-bottom: 200px;
}

.image__gallery {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: repeat(2, 25vw);
    gap: 1vw;
    row-gap: 2vw;
}

.image__card {
    height: 25vw;
    width: 20vw;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card__front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: white;
    color: black;
    transform: rotateY(180deg);
    border-radius: 1rem;
}

.card__front img {
    border-radius: 1rem;
}

/* informative text */
#parallax__text {

}

h2{
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}

h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 3px);
    height: 100%;
    color: #01fe97;
    -webkit-text-stroke: 0 #383d52;
    border-right: 2px solid #01fe97;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100%{
        width:0;
    }
    70%,90%{
        width: fit-content;
    }
}